
/*************************************
      GENERAL -------------- GENERAL
 **************************************/

* {
	box-sizing: border-box;
}

html, body {
	height: 100%;
	font: 1em/1 'Arial';
}

body {
	display: flex;
	align-items: center;
	transition: background .5s;
}

body, div, button, p, h1, h3, h4 {
 	margin: 0;
}

.wrapper {
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: transparent;
	z-index: 100;
	top: 0;
	left: 0;
}

.box, .clear, .clear, .button {
	cursor: pointer;
}

a {
	text-decoration: none;
}

.clock, input[type="text"], .button, body{
	background-color: rgb(256,86,77);
}


/********************************************
      CONTAINER -------------- CONTAINER
 ********************************************/

.container {
	width: 90%;
	height:70%;
	margin: 0 auto;
	border: 1px solid;
	display: flex;
	flex-direction: column;
	justify-content: center;
	border-radius: 5px;
	position: relative;
	text-align: center;
	background-color: white;
	transition: border .5s;
}

/********************************************
      BOXES - DIV -------------- BOXES - DIV
 ********************************************/

.boxes {
	display: flex;
	flex-wrap: wrap;
}

.box {
	width:45%;
	height:100px;
	background-color: blue;
	border: 1px solid;
	border-radius: 10px;
	margin: 10px auto;
	transition: background .3s, transform .3s;
}

/***************************************
      SCORE -------------- SCORE
 ***************************************/

.value {
	margin-top: 30px;
	font-size: 3em;
	position: relative;
}

span {
	font-size:1.7em;
	display: inline-block;
}

.clock {
	position: absolute;
	bottom: 10px;
	right: -1px;
	padding: 5px 15px;
	border-radius: 5px 0 0 5px;
	color: white;
	font-size: 1.5em;
	transition: background .5s;
}

.points {
	position: absolute;
	left: 54%;
	top:-5px;
	font-size: 1.3em;
	opacity: 0;
	transition: transform 1s, opacity 1s;
}

/***************************************************
     CLEAR-BUTTON -------------- CLEAR-BUTTON
 ****************************************************/

.clear {
	position: absolute;
	top:-20px;
	left:15px;
	border: 1px solid black;
	background-color: tomato;
	padding: 7px 10px;
	color: white;
	border-radius: 5px;
	font-size: 1.5em;
	transition: background .5s, transform .5s;
}

/***************************************************
     PSEUDO-CLASSES -------------- PSEUDO-CLASSES
 ****************************************************/

.clear:active {
	background-color: black;
}

.clear:focus, input[type="text"]:focus  {
	outline: none;
}

.box:active, .clear:active, .close:active {
	transform: scale(.95);
}

.button:active, .button:focus {
	box-shadow: inset 2px 2px 2px 1px rgba(0,0,0,.6);
	outline: none;
}

.userInterface:hover h3,
.userInterface:focus h3 {
	color: white;
}

button:disabled {
	background-color: rgb(130,130,130);
}


/***************************************************
     USER-INTERFACE -------------- USER-INTERFACE
 ****************************************************/

.userInterface, .lostMode, .pauseMode {
	width: 100%;
	box-shadow: 0 0 30px rgba(130,150,190,.9);
	background-color: rgba(30,30,30,.9);
	color: white;
	position: absolute;
	top: 20%;
	left: 0;
	text-align: center;
	padding: 10% 5%;
	overflow: hidden;
}

.userInterface h3 {				
	margin: 0 0 20px;
	position: relative;
	font-size: 1.8em;
	color: rgb(130,130,130);
	transition: color .3s;
}

input[type="text"] {
	display: block;
	width: 90%;
	margin: 0 auto 50px;
	border-radius: 5px;
	border: none;
	color: white;
	padding: 4px 10px;
	font-size:1.2em;
	box-shadow: inset 1.5px 1.5px 3px 0px rgb(0,0,0);
	text-align: center;
	font-weight: bold;
}

.button, .mainPage {
	padding: 15px 10px;
	width:80%;
	border-radius: 2px;
	border: none;
	font-size: 1.3em;
	font-weight:bold;
	color: white;
	box-shadow: 2px 2px 2px 1px rgba(0,0,0,.6);
	transition: transform .3s, color .4s, background .5s;
	position: relative;
}

/************************************************
  LOST-MODE -------------- LOST-MODE;
 ************************************************/


.lostMode h3 {
	margin: 0 0 40px;
	font-size: 1.4em;
}

.lostMode button, .keepPlay {
	animation: upDown 2s infinite;
}

.mainPage {
	display: block;
	margin: 20px auto;
}

.sorry {
	font-size: 2em;
}

/************************************************
  PAUSE-MODE -------------- PAUSE-MODE;
 ************************************************/

 .pauseMode h3 {
 	margin: 0 0 25px;
	font-size: 1.4em;
	line-height: .8;
 }

 .pauseMode .button {
 	margin-bottom: 20px;
 }

 .pauseMode .mainPage {
 	margin-top:0;
 }

/*********************************************************
  STYLE-SHEETS-CLASSES -------------- STYLE-SHEETS-CLASSES
 **********************************************************/

.winner {
	background-color: tomato;
	transform: scale(1.05);
	transition: transform .3s;
}

.hover {
	color: rgb(40,90,140);
	background-color: white;
	transform: scale(1.05);
}


/*************************************************************
  PAUSE-AND-PLAY-BUTTONS -------------- PAUSE-AND-PLAY-BUTTONS
 *************************************************************/

.pause, .play {
	position: absolute;
	right: 10px;
	top: 70px;
	letter-spacing: -2px;
	font-size: 2.5em;
	color: white;
	background-color: tomato;
	transition: transform .5s;
	border: 1px solid black;
	padding: 2px 6px 2px 5px;
	border-radius: 5px;
	cursor: pointer;
}

/*********************************
  STRIKES -------------- STRIKES;
 *********************************/

.strike {
	color: red;
	font-weight: bold;
	font-size: 1.5em;
	margin: 0 2px;
}

.strikesHolder {
	position: absolute;
	left: 25px;
	bottom: 100px;
}


/************************************************
  KEY-FRAMES -------------- KEY-FRAMES;
 ************************************************/

@keyframes upDown {
	0% {transform: translateY(0)}
	20% {transform: translateY(-10px)}
	50% {transform: translateY(0px)}
	100% {transform: translateY(0px)}
}

/***************************************************
     MEDIA-QUERRIES -------------- MEDIA-QUERRIES
 ****************************************************/

			/*****************************************
              SIZE: 780PX; --- ORIENTATION: LANDSCAPE 
             ******************************************/

		
		

		/**************************************************
	 	 	SIZE: 750PX - 800PX; ------- SIZE: 750PX - 800PX; IPAD
		 ***************************************************/

		

		/*********************************************
	 	 	SIZE: 400PX; -------------- SIZE: 400PX;
		 **********************************************/
		
		@media screen and (min-width: 320px) {

			.clear {
				top: -30px;
				left: 5px;
				font-size: 1.2em;
			}

			.pause, .play {
				top: 50px;
				right: 5px;
				font-size: 2.1em;
			}

			.time {
				font-size: .8em;
			}

			.clock {
				bottom: 10px;
			}

			.value {
				margin-top: 5px;
			}

			.userInterface h3 , .pauseMode h3, .lostMode h3 {
				font-size: 1.2em;
			}

			.userInterface .button , .pauseMode .button, .lostMode .button {
				font-size: 1em;
			}

			.strikesHolder {
				left: 0;
				top: 90%;
			}
		}

		@media screen and (min-width: 370px) {

			.pause, .play {
				top: 10%;
			}
		}

		/*********************************************
	 	 	SIZE: 580PX; ----- ORIENTATION: LANDSCAPE;
		 **********************************************/


		@media only screen and (min-width: 560px) and (orientation: landscape) {
			
			.container {
				height: 85%;
				padding: 10px;
			}

			.box {
				height: 80px;
			}

			.value {
				font-size: 2em;
			}
			
			.pause, .play {
				font-size:1.7em;
				top: 70%;
				right: 92%
			}

			.clear {
				top: 90%;
				left: 20px
			}

			.time {
				font-size: .8em;
			}

			.strikesHolder {
				left: 70%;
				bottom: 15px;
			}

			.clock {
				bottom: 15p ;
			}

			.userInterface, .pauseMode, .lostMode {
				width: 80%;
				left: 10%;
				top: 0;
				padding: 5%;
				height: 100%;
			}

			.userInterface h3, .pauseMode h3, .lostMode h3 {
				margin-top: 0;
			}

		}

		@media only screen and (min-width: 660px) and (orientation: landscape) {

			body {
				align-items: center;
			}

			.container {
				height:90%;
				padding-top: 0%;
			}

			.clear {
				font-size: 1em;
				top: 92%;
				border: 2px solid white;
			}

			.value {
				font-size: 1.5em;
			}

			span {
				font-size: 1.5em;
			}
			

			/************************************************
			  USER-INTERFACE -------------- USER-INTERFACE;
			************************************************/


			.userInterface, .lostMode, .pauseMode {
				width: 80%;
				height: 100%;
				top: 0;
				left:10%;
				padding:  5% 5%;
		   }

			input[type="text"] {
				margin: 0 auto 50px;
				border-radius: 5px;
			}

			.userInterface h3, .lostMode h3, .pauseMode h3 {
			 	margin-bottom: 35px;
				font-size: 1.5em;
			}

			.button {
				width:80%;
				border-radius: 2px;
				font-size: 1.3em;
				margin-bottom: 15px;
			}

		
			/************************************************
		         LOST-MODE -------------- LOST-MODE;
		      ************************************************/
			
			.lostMode {
				padding: 5% 10%;
			}

			.lostMode h3 {
				margin: 0 0 30px;
			}
			
			.mainPage {
				margin-top: 10px;
			}

			/*************************************************************
			  PAUSE-AND-PLAY-BUTTONS -------------- PAUSE-AND-PLAY-BUTTONS
			 *************************************************************/

			.pause, .play {
				position: absolute;
				right: 92%;
				top: 75%;
				letter-spacing: -2px;
				font-size: 2em;
				color: white;
				background-color: tomato;
				transition: transform .5s;
				border: 2px solid white;
				padding: 2px 6px 2px 5px;
				border-radius: 5px;
				z-index: 1;
			}

			/********************************
			 STRIKES -------------- STRIKES;
			*********************************/

			 .strikesHolder {
				position: absolute;
				left: 80%;
				bottom: 15px;
			}

		}

		@media screen and (min-width: 750px) and (max-width: 800px) {
			
			.container {
				justify-content: space-around;
			}

			.box {
				height:150px;
			}

			.userInterface > input {
				width: 75%;
				font-size: 3em;
			}

			.userInterface > .button, .pauseMode > .button, .lostMode > .button {
				margin-top: 40px;
				padding: 30px 0;
				font-size: 2em;
				width: 80%;
			}

			.userInterface .button + .button, .pauseMode .button + .button, .lostMode .button + .button {
				margin-top: 5%;
			}

			.userInterface h3, .lostMode h3, .pauseMode h3 {
			 	margin-bottom: 50px;
				font-size: 2.5em;
			}
			
			.pause, .play {
				font-size: 3em;
				top: 12%;
				right: 20px;
			}

			.clear {
				font-size: 2em;
				left: 20px;
			}

			.clock {
				bottom: 40px;
				font-size: 2.5em;
			}

			.value {
				font-size: 3.5em;
			}

			.strikesHolder {
				left: 10px;
				font-size: 2em;
			}
		}

		@media only screen and (min-width: 800px) and (max-width: 1030px) and (orientation: landscape) {
			
			.container {
				justify-content: space-around
			}

			.pause, .play {
				top: 1%;
				right: 30px;
				font-size: 3em;
			}

			.clear {
				top: -30px;
				left: 20px;
				font-size: 2em;
			}

			.clock {
				bottom: 40px;
				font-size: 2em;
			}

			.value {
				font-size: 4em;
			}

			.strikesHolder {
				bottom: 20px;
				left: 2%;
				font-size: 2em;
			}

			.box {
				height:150px;
			}

			.userInterface > input {
				width: 85%;
				font-size: 3em;
			}

			.userInterface h3, .lostMode h3, .pauseMode h3 {
			 	margin: 30px 0;
				font-size: 2.5em;
			}

			.userInterface > .button, .pauseMode > .button, .lostMode > .button {
				margin-top: 70px;
				padding: 30px 0;
				font-size: 2em;
				width: 80%;
			}

			.userInterface .button + .button, .pauseMode .button + .button, .lostMode .button + .button {
				margin-top: 5%;
			}
			
		}

	/***************************************************
	  DESKTOP-SIZE -------------- DESKTOP-SIZE
	 ***************************************************/

		
		@media screen and (min-width: 1290px) {

			.box {
				height: 150px;
			}

			.pause, .play {
				top: 90px;
				right: 60px;
			}

			.strikesHolder {
				bottom: 150px;
			}

		}

		@media screen and (min-width: 1580px) {
			.pause, .play {
				right: 75px;
			}
			
			.strikesHolder {
				left: 100px;
			}
		}


		

		

		
